/* #login-logo:before {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    display: block;
    background: url('images/logo-top.svg');
    background-size: 100%;
} */

#login-inputs,
#login-info {
    flex: 1;
}

#login-info {
    background: var(--main-color);
    color: #fff;
}

#login-info p,
#login-info span,
#login-info h1 {
    color: #fff;
}

#login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url('images/0_Call_of_duty_Cold_War.jpg');
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: url('images/desktop/main-new.svg');
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#login::before {
    content: '';
    display: block;
    height: 110%;
    width: 110%;
    z-index: -5;
    position: fixed;
    background: url('images/0_Call_of_duty_Cold_War.jpg');
    background-position: center;
    filter: blur(10px);
    background-size: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(7, 0, 59, 0.9)), to(rgba(7, 0, 59, 0.7))), url('images/valorant.jpg');
    background: -o-linear-gradient(bottom, rgba(7, 0, 59, 0.9), rgba(7, 0, 59, 0.7)), url('images/valorant.jpg');
    background: linear-gradient(0deg, rgba(7, 0, 59, 0.9), rgba(7, 0, 59, 0.7)), url('images/valorant.jpg');
    background-size: auto 100%;
    background-position: center;
    -webkit-transition: ease-in-out;
    -o-transition: ease-in-out;
    transition: ease-in-out;
}

#login:after {
    content: '';
    display: block;
    height: 90%;
    width: 120%;
    z-index: -5;
    position: fixed;
    background: url('images/desktop/OBJECTS.svg');
    background-position: center;
    background-repeat: no-repeat;
    -webkit-animation: animatebg 4s infinite;
    animation: animatebg 4s infinite;
    -webkit-transition: ease-in-out;
    -o-transition: ease-in-out;
    transition: ease-in-out;
}

#login .input-title {
    margin: 0;
}

.login-with {
    background: #fff;
    color: var(--black-text);
    border: var(--border);
}

.login-with:hover {
    background: var(--border-color);
}

.SameHeightLogin {
    height: fit-content;
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
}