/* #login-logo:before {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    display: block;
    background: url('images/logo-top.svg');
    background-size: 100%;
} */

#login-inputs,
#login-info {
    flex: 1;
}

#login-info {
    background: var(--main-color);
    color: #fff;
}

#login-info p,
#login-info span,
#login-info h1 {
    color: #fff;
}

.SameHeightLogin {
    height: fit-content;
    display: flex;
    gap: 16px;
}