    /* #login-logo:before {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    display: block;
    background: url('images/logo-top.svg');
    background-size: 100%;
} */
    
    #login-info {
        background: var(--main-color);
        color: #fff;
    }
    
    #login-info p,
    #login-info span,
    #login-info h1 {
        color: #fff;
    }
    
    .clear-flex .title {
        display: flex;
        align-items: center;
    }
    
    #inline-buttons {
        display: grid;
        grid-template-columns: auto auto;
        gap: 16px;
    }
    
    .title h4 {
        margin-left: 16px;
    }
    
    #login {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 16px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-size: auto 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background: var(--black);
    }
    
    #login-info,
    #login-inputs {
        grid-template-rows: auto;
        height: auto;
    }
    
    #background {
        display: block;
        position: fixed;
        width: 110%;
        height: 110%;
        z-index: -6;
    }
    
    #background img {
        filter: blur(2px);
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
    }
    
    #login::before {
        content: '';
        display: block;
        height: 110%;
        width: 110%;
        z-index: -5;
        position: fixed;
        background-position: center;
        background: linear-gradient(0deg, rgba(7, 0, 59, 0.9), rgba(7, 0, 59, 0.7));
        background-size: auto 100%;
        background-position: center;
        -webkit-transition: ease-in-out;
        -o-transition: ease-in-out;
        transition: ease-in-out;
    }
    
    #login:after {
        content: '';
        display: block;
        height: 90%;
        width: 120%;
        z-index: -5;
        position: fixed;
        background: url('images/desktop/OBJECTS.svg');
        background-position: center;
        background-repeat: no-repeat;
        -webkit-animation: animatebg 4s infinite;
        animation: animatebg 4s infinite;
        -webkit-transition: ease-in-out;
        -o-transition: ease-in-out;
        transition: ease-in-out;
    }
    
    #login .input-title {
        margin: 0;
    }
    
    .login-with {
        border: var(--border);
    }
    
    .facebook {
        background: #4267B2;
        color: #fff" 

    }
    
    .facebook:hover {
        background: #324e86;
        color: #fff" 

    }
    
    .SameHeightLogin {
        height: fit-content;
        display: grid;
        grid-template-columns: auto auto;
        gap: 16px;
        position: absolute;
        height: auto;
    }
    
    #registerStep1,
    #registerFinish {
        position: absolute;
        height: auto;
    }
    
    #registerFinish {
        height: 90%;
    }
    
    #registerFinish iframe {
        width: 100%;
        margin-bottom: 16px;
    }