.swiping-outer-card {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card {
    height: 480px;
    width: 343px;
    background: #fff;
    border-radius: 32px 32px 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    box-sizing: border-box;
    box-shadow: var(--box-shadow);
}

.profile-card::after {
    content: '';
    height: 180px;
    width: 343px;
    margin: -16px;
    position: absolute;
    border-radius: 16px;
    /* background: linear-gradient(180deg, rgba(28, 24, 44, 0) 16.82%, #1C182C 100%), url('images/valorant.jpg'); */
    background: url('images/image.jfif');
    background-size: 110%;
    background-position: center;
    z-index: 1;
}

#chat-card.profile-card::after {
    background: url('images/valorant.jpg');
    background-size: 110%;
    background-position: center;
}

#chat-card {
    margin-right: 400px;
}

.profile-card #profile-pic {
    align-self: center;
    z-index: 2;
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

img.lg-img {
    height: 16px;
}

.profile-card #name {
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
    gap: 4px;
    align-items: center;
}

span i {
    color: var(--main-color);
}

.profile-card span {
    color: var(--paragraph)
}

.details-row {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.details-row li {
    padding: 0;
    align-items: center;
    display: grid;
    grid-template-rows: auto auto;
    gap: 16px;
    border: none;
    text-align: center;
    background: none;
}

.details-row li:hover {
    background: none;
}

.details-box {
    margin: -16px;
    background: var(--second-bg);
    flex-grow: 1;
    margin-top: 0;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.details-box p {
    color: var(--black);
    font-weight: 600;
}

#swiping {
    -webkit-box-flex-grow: 2;
    -ms-flex-grow: 2;
    flex-grow: 2;
    padding: 16px;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
}

#swiping .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    color: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#swiping .title h4 {
    color: #fff;
}

#swiping .title span {
    color: var(--paragraph-light)
}

#vote-bar {
    display: flex;
    bottom: 0;
    width: -webkit-fill-available;
    background: none;
    align-self: center;
    flex-grow: 1;
    gap: 64px;
    place-content: center;
}

.vote {
    display: flex;
    height: 72px;
    width: 72px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #fff;
}

.voteYes {
    background: #09ECA7;
}

.voteNo {
    background: #F05652;
}

@media (max-width: 600px) {
    /* .profile-card {
        width: 100%;
    } */
    .profile-card::after {
        width: calc(100% - 32px);
    }
    #chat-card {
        margin-right: 0;
    }
}