.swiping-outer-card {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card {
    height: 480px;
    width: 343px;
    background: #fff;
    border-radius: 32px 32px 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    box-sizing: border-box;
    box-shadow: var(--box-shadow);
}

.profile-card::after {
    content: '';
    height: 180px;
    width: 343px;
    margin: -16px;
    position: absolute;
    border-radius: 16px;
    /* background: linear-gradient(180deg, rgba(28, 24, 44, 0) 16.82%, #1C182C 100%), url('images/valorant.jpg'); */
    background: url('images/image.jfif');
    background-size: 110%;
    background-position: center;
    z-index: 1;
}

.profile-card img {
    align-self: center;
    z-index: 2;
}

img.lg-img {
    height: 16px;
}

.profile-card #name {
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
    gap: 4px;
    align-items: center;
}

span i {
    color: var(--main-color);
}

.profile-card span {
    color: var(--paragraph)
}

.details-row {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.details-row li {
    padding: 0;
    align-items: center;
    display: grid;
    grid-template-rows: auto auto;
    gap: 16px;
    border: none;
    text-align: center;
    background: none;
}

.details-row li:hover {
    background: none;
}

.details-box {
    margin: -16px;
    background: var(--second-bg);
    flex-grow: 1;
    margin-top: 0;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.details-box p {
    color: var(--black);
    font-weight: 600;
}

@media (max-width: 600px) {}

.profile-card,
.profile-card::after {
    width: calc(100% - 32px);


}