    /*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
    
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
     :root {
        --main-color: #4E00FF;
        --rad: 8px;
        --paragraph: #53497B;
        --paragraph-light: #978EC1;
        --black: #1C182C;
        --black-text: #160A42;
        --box-shadow: 0px 4px 16px rgba(23, 0, 78, 0.144);
        --border-color: #D9D3E6;
        --border: 1px solid var(--border-color);
        --hr: #B7B2CB;
        --white: #ffffff;
        /* --second-bg: #f2edfb; */
        --second-bg: #F5F3F9;
        --input-title-c: #53497B;
        --negative: #FF6051;
        --font-main: Montserrat;
        --font-second: Inter;
    }
    
    * {
        letter-spacing: 0.02em;
    }
    
    body,
    html {
        height: 100%;
    }
    
    body {
        font-family: var(--font-second), sans-serif;
        border: 0;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body.main-bg {
        background: var(--white);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-sizing: border-box;
    }
    
    .under-search {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-flex-grow: 2;
        height: 100%;
        -ms-flex-grow: 2;
        flex-grow: 2;
    }
    
    .search-bar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        /* background: var(--white); */
        border-radius: 16px;
        /* padding: 16px; */
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        max-height: -webkit-fit-content;
        max-height: -moz-fit-content;
        max-height: fit-content;
        margin: 24px;
        margin-bottom: 0;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 16px;
        justify-content: space-between;
    }
    
    .search-bar input {
        width: 100%;
        color: var(--paragraph-light);
        background: none;
        border-color: transparent;
        box-shadow: none;
        flex-grow: 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 16px;
        /* -webkit-box-shadow: var(--box-shadow); */
        /* box-shadow: var(--box-shadow); */
        /* padding: 40px; */
        /* background: var(--white); */
    }
    
    .search-bar input:hover {
        border-color: transparent;
    }
    
    .search-bar .element {
        flex-grow: 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 16px;
        -webkit-box-shadow: var(--box-shadow);
        box-shadow: var(--box-shadow);
        padding: 16px;
        background: var(--white);
    }
    
    .search-bar .logo {
        background: none;
        box-shadow: none;
    }
    
    .search-bar img {
        height: 32px;
    }
    
    .search-bar .button-cta {
        color: var(--paragraph);
        background: none;
    }
    
    h1,
    h2,
    h3,
    h4,
    .button,
    .button-secondary {
        margin: 0;
        font-family: var(--font-main);
        -webkit-box-flex-grow: 2;
        -ms-flex-grow: 2;
        flex-grow: 2;
        cursor: default;
    }
    
    h1,
    h2,
    h3,
    h4 {
        color: var(--black-text);
        font-weight: 700;
    }
    
    h2 {
        font-size: 28px;
    }
    
    h1 {
        font-size: 32px;
    }
    
    h4 {
        font-size: 16px;
    }
    
    .button,
    .button-secondary,
    .button-delete,
    .button-cta,
    .button-th {
        border-radius: var(--rad);
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        text-decoration: none;
        font-family: var(--font-main);
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 16px;
        color: #fff;
        cursor: pointer;
        font-weight: 700;
        border: 2px solid transparent;
        font-size: 16px;
        text-transform: capitalize;
    }
    
    .button:hover,
    .button-secondary:hover,
    .button-cta:hover,
    .button-delete:hover,
    .button-th:hover {
        transform: translateY(1px);
    }
    
    #settings-button-container {
        margin: -24px;
        padding: 24px;
        background: var(--second-bg);
        border-radius: 0 0 16px 16px;
        z-index: 5;
    }
    
    .button {
        background: var(--main-color);
        border: 2px solid transparent;
    }
    
    .button:hover {
        background: #3b00c5;
    }
    
    .button-secondary {
        color: var(--main-color);
        background: #5d00ff29;
    }
    
    .button-secondary:hover {
        background: #5d00ff3d;
    }
    
    .button-delete {
        color: var(--negative);
    }
    
    .button-delete:hover {
        background: #ff60513f;
    }
    
    .button-cta {
        color: var(--black-text);
        text-decoration: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 42px;
        width: 42px;
        border-radius: var(--rad);
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
    }
    
    .button-cta#delete:hover {
        background: #ff60513f;
        color: var(--negative);
    }
    
    .button-cta:hover {
        background: #26007f1e;
    }
    
    #swiping .button-cta {
        /* background: var(--main-color); */
        /* background: none; */
        border: none;
        color: var(--white);
    }
    
    .exit-swipe {
        margin-right: 16px;
    }
    
    #swiping .button-cta:hover {
        background: var(--main-color);
    }
    
    .button-cta i {
        font-size: 16px;
    }
    
    p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: var(--paragraph);
        margin: 0;
        font-weight: 500;
    }
    
    hr {
        border: 0;
        border-bottom: 1px solid var(--border-color);
        left: 0;
        margin: 0;
    }
    
    .left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        position: relative;
        left: 0px;
        top: 0px;
        margin: 24px;
        -webkit-box-flex-grow: 1;
        -ms-flex-grow: 1;
        flex-grow: 1;
        gap: 16px;
    }
    
    .top {
        height: max-content;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    
    .top h2 {
        font-size: 30px;
    }
    
    .top .top-mobile-search {
        display: none;
    }
    
    .left .top .title,
    .contact .title,
    .explore .title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: static;
        gap: 8px;
        -webkit-box-flex-grow: 2;
        -ms-flex-grow: 2;
        flex-grow: 2;
        margin-left: 16px;
        width: 100%;
    }
    
    .top .title p {
        font-size: 12px;
        line-height: 14px;
        font-weight: 500;
        text-transform: uppercase;
    }
    
    i.container-title-icon {
        margin-left: 16px;
        color: var(--paragraph-light)
    }
    
    .dashboard,
    .explore {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        border-radius: var(--rad);
        background: var(--white);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 24px;
        border-radius: 16px;
        -webkit-box-shadow: var(--box-shadow);
        box-shadow: var(--box-shadow);
    }
    
    .dashboard .top,
    .explore .top,
    .contact .top {
        margin-bottom: 16px;
    }
    
    #desktop-top-element {
        font-size: 18px;
        color: var(--main-color)
    }
    
    .top #desktop-title {
        color: var(--paragraph-light)
    }
    
    .explore .inside {
        display: -webkit-box;
        display: -ms-flexbox;
        display: grid;
        gap: 16px;
        padding: 16px;
        border-radius: 16px;
        background: var(--white);
        -webkit-box-shadow: var(--box-shadow);
        box-shadow: var(--box-shadow);
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    .explore {
        -webkit-box-flex-grow: 2;
        -ms-flex-grow: 2;
        flex-grow: 2;
    }
    
    #fullscreen {
        font-size: 10px;
        text-transform: uppercase;
        min-width: -webkit-fit-content;
        min-width: -moz-fit-content;
        min-width: fit-content;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
    }
    
    #fullscreen i {
        margin-right: 8px;
    }
    
    #explore-desktop-search {
        display: none;
        padding: 16px;
        box-sizing: border-box;
        justify-content: flex-end;
        align-items: center;
    }
    
    .explore input {
        width: 100%;
        max-width: 600px;
    }
    
    .category-main {
        display: block;
        background: var(--main-color);
        border-radius: 8px;
        padding: 12px;
    }
    
    img.category-main {
        height: 14px;
    }
    
    .no-games {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(8.03%, #4e00ff4d), to(rgba(28, 24, 44, 0.83))), -webkit-gradient(linear, left bottom, left top, from(rgba(78, 0, 255, 0.66)), to(rgba(78, 0, 255, 0.66))), url(images/no-games.jpg);
        background: -o-linear-gradient(top, #4e00ff4d 8.03%, rgba(28, 24, 44, 0.83) 100%), -o-linear-gradient(bottom, rgba(78, 0, 255, 0.66), rgba(78, 0, 255, 0.66)), url(images/no-games.jpg);
        background: linear-gradient(180deg, #4e00ff4d 8.03%, rgba(28, 24, 44, 0.83) 100%), linear-gradient(0deg, rgba(78, 0, 255, 0.66), rgba(78, 0, 255, 0.66)), url(images/no-games.jpg);
        border-radius: var(--rad);
        background-size: 100%;
        background-position: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 180px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 16px;
        width: -webkit-fill-available;
        justify-content: space-between;
        transition: .2s;
    }
    
    p#toggle-dashboard {
        line-height: 36px;
        margin-top: 64px;
    }
    
    .no-games-mobile {
        width: -webkit-fill-available;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-radius: 8px;
        background: var(--main-color);
        background-image: url('images/no-game-bg.svg');
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-size: 100%;
        background-position: center;
        /* background-position: 100px -900px; */
        width: 100%;
        gap: 8px;
    }
    
    .no-games-mobile img {
        flex-grow: 1;
        display: none;
    }
    
    .no-games-mobile h4,
    .no-games-mobile h2 {
        flex-grow: 0;
        color: #fff;
    }
    
    .no-games-mobile.card:hover {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
    
    .no-games-mobile .gradient#no-games {
        width: auto;
        height: fit-content;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(40.82%, rgba(28, 24, 44, 0)), to(#1C182C));
        background: -o-linear-gradient(top, rgba(28, 24, 44, 0) 40.82%, #1C182C 100%);
        background: linear-gradient(180deg, rgba(28, 24, 44, 0) 40.82%, #1C182C 100%);
        background-position: center;
        border-radius: var(--rad);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 16px;
    }
    
    .gradient span {
        color: var(--paragraph-light);
        /* background: #fff;
        width: fit-content;
        padding: 4px;
        border-radius: 8px; */
    }
    
    .no-games .top {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    
    .mobile {
        display: hidden !important;
    }
    
    .exit-fullscreen {
        background: red;
    }
    
    .no-games-mobile:hover {
        -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
        transform: scale(1.01);
    }
    
    .no-games-mobile p {
        color: #fff;
        /* line-height: 36px; */
    }
    
    .inline {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 8px;
        width: 100%;
    }
    
    span.span-special {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 700;
        background: var(--white);
        padding: 8px;
        border-radius: 8px;
        color: var(--black-text);
        font-family: var(--font-main);
        box-shadow: var(--box-shadow);
    }
    
    span.span-special i {
        color: #fff;
    }
    
    p span.span-special {
        background: var(--main-color);
        color: #fff;
    }
    
    #my-games {
        display: none;
    }
    
    .search {
        -webkit-box-flex-grow: 0;
        -ms-flex-grow: 0;
        flex-grow: 0;
        text-transform: uppercase;
        font-size: 12px;
        color: #fff;
        background: var(--black);
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    
    .search:hover {
        background: var(--white);
        border: 2px solid var(--black);
        color: var(--black-text)
    }
    
    iframe#my-games {
        height: 240px;
    }
    
    a.search-active {
        z-index: 100;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-radius: var(--rad);
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        height: 52px;
        background: var(--white);
        right: 0;
        border: var(--border);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: var(--box-shadow);
        box-shadow: var(--box-shadow);
        font-weight: bold;
        font-size: 12px;
        padding: 16px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        text-transform: uppercase;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-decoration: none;
        color: var(--paragraph);
        -webkit-box-flex-grow: 1;
        -ms-flex-grow: 1;
        flex-grow: 1;
    }
    
    .search-active:hover {
        border-color: #1C182C80;
        background: var(--white);
    }
    
    iframe {
        border: 0;
    }
    
    .card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        border-radius: 8px;
        background-size: auto 100%;
        cursor: pointer;
        -webkit-box-shadow: var(--box-shadow);
        box-shadow: var(--box-shadow);
        gap: 16px;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        position: relative;
        height: 230px;
        width: 340px;
    }
    
    .card .platform {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    .card .platform img,
    .card .platform i {
        height: 12px;
        font-size: 12px;
        color: var(--paragraph)
    }
    
    .off h4 {
        color: var(--paragraph);
    }
    
    .off .gradient {
        -webkit-filter: grayscale(1) blur(1px);
        filter: grayscale(1) blur(1px);
        opacity: .2;
    }
    
    .dashboard .card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 12px;
    }
    
    .card .gradient {
        padding: 16px;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(44.62%, rgba(22, 10, 66, 0)), to(#160A42));
        background: -o-linear-gradient(top, rgba(22, 10, 66, 0) 44.62%, #160A42 100%);
        background: linear-gradient(180deg, rgba(22, 10, 66, 0) 44.62%, #160A42 100%);
        border-radius: 8px;
        height: 100%;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
    }
    
    #gamelist .gradient .title-column,
    #explore .title-column {
        -webkit-box-flex-grow: 0;
        -ms-flex-grow: 0;
        flex-grow: 0;
    }
    
    #gamelist .gradient .edit-settings-out {
        display: none;
        position: absolute;
        background: #fff;
    }
    
    #gamelist .gradient .edit-settings-out:hover {
        background: var(--second-bg);
    }
    
    #explore .card {
        height: auto;
        width: 200px;
    }
    
    #explore .gradient {
        padding: 12px;
    }
    
    #explore .gradient h4 {
        font-size: 12px;
    }
    
    .counter {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        padding: 8px;
        -ms-flex-item-align: end;
        align-self: flex-end;
        font-size: 11px;
        font-weight: 700;
        gap: 8px;
        color: var(--input-title-c);
        background: var(--white);
        border-radius: var(--rad);
    }
    
    .card .title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        /* gap: 16px; */
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
    
    .title-column {
        display: -webkit-box;
        display: -ms-flexbox;
        display: grid;
        grid-template-rows: auto;
        gap: 4px;
        -webkit-box-flex-grow: 2;
        -ms-flex-grow: 2;
        flex-grow: 2;
        align-items: flex-start;
    }
    
    #no-games .title-column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
        margin: 24px;
        margin-left: 0;
        gap: 16px;
        min-width: 400px;
        /* z-index: 10; */
    }
    
    .contact {
        padding: 24px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        /* z-index: 100; */
        border-radius: 16px;
        background: var(--white);
        -webkit-box-shadow: var(--box-shadow);
        box-shadow: var(--box-shadow);
        -webkit-box-flex-grow: 1;
        -ms-flex-grow: 1;
        flex-grow: 1;
        flex-direction: column;
        display: flex;
    }
    
    input::-webkit-input-placeholder {
        color: var(--hr);
    }
    
    input::-moz-placeholder {
        color: var(--hr);
    }
    
    input:-ms-input-placeholder {
        color: var(--hr);
    }
    
    input::-ms-input-placeholder {
        color: var(--hr);
    }
    
    input::placeholder,
    textarea::placeholder {
        color: var(--hr);
    }
    
    span {
        font-weight: bold;
        font-size: 10px;
        line-height: 12px;
        color: var(--paragraph);
        text-transform: uppercase;
    }
    
    .loggedas {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 16px;
        justify-content: flex-end;
        width: min-content;
        flex: 1;
        max-width: fit-content;
        cursor: pointer;
    }
    
    .loggedas img {
        height: 52px;
        border-radius: 8px;
    }
    
    .login {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex-grow: 3;
        -ms-flex-grow: 3;
        flex-grow: 3;
        cursor: pointer;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 4px;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        -webkit-margin-after: 0;
        margin-block-end: 0;
        -webkit-margin-before: 0;
        margin-block-start: 0;
        -webkit-padding-start: 0;
        padding-inline-start: 0;
        width: 100%;
    }
    
    .contact ul {
        gap: 4px;
    }
    
    .explorerlist iframe {
        height: fit-content;
        background: none;
    }
    
    #explore-list-main {
        width: 100%;
        height: 100%;
    }
    
    ul.explorerlist {
        background: none;
        /* padding: 0 8px; */
        box-sizing: border-box;
    }
    
    ul.explorerlist li {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0;
        padding-bottom: 16px;
        border-radius: 0;
        gap: 0;
        border-bottom: 1px solid var(--border-color);
        background: none;
        margin-bottom: 16px;
        align-items: flex-start;
    }
    
    #send-message {
        flex-grow: 0;
    }
    
    #send-message i {
        margin: 0;
        margin-left: 8px;
    }
    
    .input-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: -12px;
        color: var(--black-text);
        display: flex;
        align-items: center;
    }
    
    .input-title .counter {
        align-self: flex-end;
        padding: 0;
        justify-content: flex-end;
        flex-grow: 2;
        color: var(--border-color);
        display: none;
    }
    
    .input-title i {
        color: var(--input-title-c);
        margin-right: 8px;
    }
    
    .button i,
    .button-secondary i,
    .button-delete i {
        margin-right: 8px;
    }
    
    .avatar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    .avatar img {
        margin-right: 16px;
        border-radius: 8px;
        height: 140px;
    }
    
    #show-profile-settings,
    #show-game-settings,
    #shot-notifications {
        z-index: 12;
    }
    
    input,
    select,
    textarea {
        background: var(--white);
        border: 1px solid var(--border-color);
        -webkit-box-shadow: 0px 2px 0px rgba(28, 24, 44, 0.08);
        box-shadow: 0px 2px 0px rgba(28, 24, 44, 0.08);
        color: var(--input-title-c);
        font-weight: 500;
        padding: 16px;
        border-radius: var(--rad);
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        font-size: 16px;
        box-sizing: border-box;
        line-height: 14px;
        font-family: var(--font-second);
    }
    
    input#scales {
        border: none;
        background: none;
        margin: 0;
        box-shadow: none;
        height: auto;
        align-self: center;
        padding: 0;
    }
    
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0px 1000px var(--white) inset;
        animation: autofill ease 2s;
    }
    
    @keyframes autofill {
        0% {
            -webkit-box-shadow: 0 0 0px 1000px var(--white) inset, 0px 0px 4px var(--main-color);
        }
        100% {
            -webkit-box-shadow: 0 0 0px 1000px var(--white) inset, -2px -2px -2px var(--main-color);
        }
    }
    
    input,
    select {
        height: 52px;
    }
    
    textarea {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        min-height: 82px;
        /* width: 100%; */
        height: 100px;
        font-family: var(--font-second), sans-serif;
        line-height: 150%;
    }
    
    input:hover,
    textarea:hover,
    select:hover {
        background: var(--white);
        border: 1px solid #1C182C;
    }
    
    input:focus {
        border: 0;
        border: var(--border);
        border-color: var(--black-text);
        padding-left: 16px;
        border-radius: var(--rad);
        background: var(--white);
    }
    
    .info-box {
        box-sizing: border-box;
        padding: 16px;
        background: var(--main-color);
        -ms-flex-align: center;
        border-radius: var(--rad);
        color: var(--white);
        align-items: center;
    }
    
    .info .info-box .inline {
        display: grid;
        justify-content: space-between;
        width: 100%;
        grid-auto-flow: column;
    }
    
    .hide-info {
        display: block;
        width: 24px;
        height: 24px;
        text-align: center;
        border-radius: 8px;
        background: #3b00c5;
        color: var(--white);
    }
    
    .hide-info i {
        line-height: 24px;
        font-size: 12px;
    }
    
    .infobox h4 i {
        margin-right: 8px;
    }
    
    .info-box h4 {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 800;
        color: var(--white);
    }
    
    .info-box .title {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        -webkit-box-flex-grow: 2;
        -ms-flex-grow: 2;
        flex-grow: 2;
        gap: 8px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    
    .special-settings .warning p,
    .warning h4 {
        color: #fFE8E6;
    }
    
    .warning {
        border-radius: var(--rad);
        /* margin-top: 16px; */
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        text-decoration: none;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 16px;
        font-weight: 700;
        font-size: 16px;
        gap: 8px;
        background: var(--negative);
        border: none;
    }
    
    .confirm-box {
        background: var(--white);
        padding: 24px;
        border-radius: 16px;
        box-shadow: var(--box-shadow);
        max-height: fit-content;
        display: grid;
        gap: 16px;
        width: 600px;
        box-sizing: border-box;
    }
    
    .confirm-box .gradient {
        background: none;
        border-radius: 16px;
        height: 140px;
    }
    
    .confirm-box .card {
        height: fit-content;
        width: calc(100% + 48px);
        margin: -24px;
        margin-bottom: 0;
        border-radius: 16px;
    }
    
    .confirm-box #lol {
        background-size: 100%;
    }
    
    .confirm-box .card i {
        color: var(--white);
    }
    
    .confirm-box span {
        color: var(--black-text);
    }
    
    .confirm-box .title {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    #upload {
        width: fit-content;
        height: fit-content;
    }
    
    .info-box p {
        color: var(--white);
    }
    
    .info-box .button,
    #login-info .button-secondary {
        -webkit-box-flex-grow: 1;
        -ms-flex-grow: 1;
        flex-grow: 1;
        background: #3b00c5;
        margin-top: 16px;
        color: var(--white);
    }
    
    .info-box .button:hover,
    #login-info .button-secondary:hover {
        background: #2f009e;
    }
    
    #login-info .button-secondary {
        font-size: 11px;
        text-transform: uppercase;
    }
    
    #login-info .button {
        background: var(--white);
        color: var(--main-color);
    }
    
    .special-settings {
        display: -webkit-box;
        display: -ms-flexbox;
        display: grid;
        padding: 16px;
        gap: 16px;
        border: var(--border);
        border-radius: var(--rad);
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
    }
    /* .special-settings p {
    color: var(--paragraph-light)
} */
    
    #show-notifications .special-settings {
        padding: 0;
        border: 0;
    }
    
    #show-notifications .special-settings h4 {
        font-size: 14px
    }
    
    #show-notifications hr {
        margin-left: 0;
    }
    
    #profile-settings .special-settings {
        gap: 16px
    }
    
    .special-settings label {
        margin: 0;
    }
    
    .isVisible {
        background: var(--second-bg);
        border: 0;
    }
    
    #if-visible {
        text-decoration: line-through;
    }
    
    .is-visible-yes {
        padding: 0;
        border: 0;
    }
    
    .special-settings .title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        align-items: center;
    }
    
    #profile-settings,
    #contacts,
    #register2 {
        display: grid;
        grid-template-columns: auto;
        gap: 24px;
        height: auto;
    }
    
    #contacts .card {
        width: auto;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        background-size: 100%;
        padding: 0;
        border-radius: 8px;
    }
    
    .gradient h4 {
        color: #fff;
        line-height: 150%;
    }
    
    #contacts .gradient {
        width: auto;
        padding: 16px;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(24.45%, rgba(22, 10, 66, 0.5)), to(#160A42));
        background: -o-linear-gradient(top, rgba(22, 10, 66, 0.5) 24.45%, #160A42 100%);
        background: linear-gradient(180deg, rgba(22, 10, 66, 0.5) 24.45%, #160A42 100%);
    }
    
    #outer-chat .gradient img {
        border-radius: 8px;
        height: 48px;
    }
    
    #outer-chat {
        z-index: 20;
        margin-right: 400px;
        background: rgba(255, 255, 255, 0.163);
        padding: 24px;
        height: 90%;
        -webkit-box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.04);
        box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.04);
        border-radius: 16px;
        background: var(--white);
    }
    
    #outer-chat .card {
        width: 100%;
        height: fit-content;
        background-size: 100%;
    }
    
    #outer-chat .gradient {
        background: none;
        padding: 24px;
    }
    
    iframe.chat {
        flex-grow: 1;
        width: 600px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .type-message {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 8px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    .type-message input {
        -webkit-box-flex-grow: 2;
        -ms-flex-grow: 2;
        flex-grow: 2;
    }
    
    .overlay-bg {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background: #07003B99;
        z-index: 9;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    
    iframe.profile-settings {
        width: 600px;
        height: 100%;
    }
    
    #notifi {
        height: fit-content;
    }
    
    #notifi .inner-container {
        grid-template-rows: auto;
        width: 600px;
        box-sizing: border-box;
    }
    
    #notifi label {
        margin: 0;
    }
    
    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        justify-content: center;
        -ms-flex-direction: column;
        flex-direction: column;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        position: relative;
        height: 90%;
        gap: 16px;
        -webkit-box-shadow: var(--box-shadow);
        box-shadow: var(--box-shadow);
    }
    
    .container .title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        color: var(--white);
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    .container .title-column,
    .container hr,
    .inner-container .title-column #swiping .title .title-column {
        margin-left: 16px;
    }
    
    .inner-container {
        background: var(--white);
        padding: 24px;
        border-radius: 16px;
        display: grid;
        gap: 16px;
        grid-template-rows: 42px auto 52px;
        -webkit-box-shadow: 0px 8px 32px rgba(45, 58, 77, 0.24);
        box-shadow: 0px 8px 32px rgba(45, 58, 77, 0.24);
        height: 100%;
    }
    
    @-webkit-keyframes animatebg {
        0% {
            background-size: auto 100%;
        }
        50% {
            background-size: auto 102%;
        }
        100% {
            background-size: auto 100%;
        }
    }
    
    @keyframes animatebg {
        0% {
            background-size: auto 100%;
        }
        50% {
            background-size: auto 102%;
        }
        100% {
            background-size: auto 100%;
        }
    }
    
    .clear-flex {
        -webkit-box-flex-grow: 0;
        -ms-flex-grow: 0;
        flex-grow: 0;
        gap: 16px;
        box-sizing: border-box;
        width: 500px;
    }
    /** GAMES  ***/
    
    #cod {
        background: url('images/0_Call_of_duty_Cold_War.jpg');
        background-size: auto 100%;
        background-position: center;
    }
    
    #bfv {
        background: url('images/Battlefield-V-battle-royale.jpg');
        background-size: auto 100%;
        background-position: center;
    }
    
    #fifa {
        background: url('images/fifa.jfif');
        background-position: center;
        background-size: auto 100%;
    }
    
    #csgo {
        background: url('images/CSGO-Banner-24-3-2019.jpg');
        background-size: auto 100%;
        background-position: center;
    }
    
    #pokemon {
        background: url('images/pokemon.jpg');
        background-size: auto 100%;
        background-position: center;
    }
    
    #valorant {
        background: url('images/valorant.jpg');
        background-size: auto 100%;
        background-position: center;
    }
    
    #lol {
        background: url('images/image.jfif');
        background-size: auto 100%;
        background-position: center;
    }
    
    ul#menu {
        display: none;
        position: fixed;
        margin: 18px 40px;
        align-items: center;
        bottom: 0;
        width: -webkit-fill-available;
        background: none;
        height: 64px;
        border-radius: 16px;
        -webkit-box-shadow: 0px 16px 32px rgba(45, 58, 77, 0.161);
        box-shadow: 0px 16px 32px rgba(45, 58, 77, 0.161);
        -ms-flex-pack: distribute;
        justify-content: space-around;
        z-index: 12;
        background: var(--white);
    }
    
    ul#menu li {
        padding: 0;
        background: none;
        border: none;
        border-radius: var(--rad);
    }
    
    img#profile-menu-pic {
        height: 32px;
        border-radius: 8px;
    }
    
    .swipe-bg {
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(7, 0, 59, 0.9)), to(rgba(7, 0, 59, 0.7))), url('images/image.jfif');
        background: -o-linear-gradient(bottom, rgba(7, 0, 59, 0.9), rgba(7, 0, 59, 0.7)), url('images/image.jfif');
        background: linear-gradient(0deg, rgba(7, 0, 59, 0.9), rgba(7, 0, 59, 0.7)), url('images/image.jfif');
        background-size: auto 120%;
        background-position: center;
    }
    
    hr.short {
        width: 24px;
        align-self: flex-start;
    }
    
    ul.list .title-column {
        gap: 2px;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        border-radius: 8px;
        padding: 8px;
        background-color: var(--white);
        min-width: fit-content;
        z-index: 200;
        box-shadow: var(--box-shadow);
        transition: .2s;
        transform: translateX(calc(-100% + 42px));
    }
    
    .dropdown-content hr {
        margin: 8px;
    }
    
    #dropdown:hover .dropdown-content {
        display: block;
    }
    
    .dropdown-content a {
        float: none;
        padding: 16px;
        transition: .2s;
        text-decoration: none;
        display: block;
        color: var(--paragraph);
        border-radius: 8px;
        font-size: 16px;
        text-align: left;
        cursor: pointer;
    }
    
    .dropdown-content i {
        margin-right: 4px;
        color: var(--paragraph-light)
    }
    
    a#warning,
    #warning i {
        color: var(--negative);
    }
    
    a#warning:hover {
        /* background: #fFE8E6; */
        background: #FF605133;
    }
    
    .dropdown-content a:hover {
        background: var(--second-bg);
        color: var(--black-text);
    }
    /*
.button::after {
    content: "";
    background: #ff0022;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.8s
}
.button:active,
.button-secondary:active {}
.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
} */